<div>
      <mat-card class="example-card" (click)='getDetail(item.ville, item.noms)' *ngFor="let item of dataSource">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ item.noms }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            places restantes :  {{ item.place_dispo }}
          </mat-card-content>
      </mat-card>
</div>

