<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" >
    <mat-toolbar>Menu</mat-toolbar>
    <hr>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon> Accueil</a>
      <a mat-list-item routerLink="/nantes" routerLinkActive="active"><img src="assets/elephant.png">Nantes</a>
      <a mat-list-item routerLink="/rennes" routerLinkActive="active"><img src="assets/rennes.png">Rennes</a>
      <a mat-list-item routerLink="/angers" routerLinkActive="active"><img src="assets/angers.png">Angers</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="bg_dark">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Amazing Angular Project</h1>
    </mat-toolbar>
    <div class="container fullpage">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
