/* COLORS */

$color-primary: #7e57c2;
$color-secondary: #6199ff;
$color-tertiary: yellow;
$color-warning: #ffca28;
$color-danger: #ff3456;
$color-success: #388e3c;

$d-text: #333333;
$l-text: #ffffff;

/* FONTS */

$font-default: Arial, sans-serif;
