.example-card{
  max-width: 400px;
  margin-bottom:10px;
}

.example-header-image {
  background-image: url('../../assets/rennes.png');
  background-size: cover;
}

 div{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
 }
