.example-card {
  max-width: 400px;
}

div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}
mat-card {
  width: calc(80% - 50px);
  height: calc(80% - 50px);
  margin: 15px;
}
