<div>
    <mat-card class="example-card" (click)="goToNantes()">
        <mat-card-header>
          <mat-card-title>Nantes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="assets/elephant.png">
        </mat-card-content>
      </mat-card>
    <mat-card class="example-card" (click)="goToAngers()">
        <mat-card-header>
          <mat-card-title>Angers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="assets/angers.png">
        </mat-card-content>
    </mat-card>
      <mat-card class="example-card" (click)="goToRennes()">
          <mat-card-header>
            <mat-card-title>Rennes</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="assets/rennes.png">
          </mat-card-content>
        </mat-card>
</div>

